<!-- upload.html -->
<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     </head>

     <body>
      <div id="container">
          <h1>Detect if there are any implants in your mouth!</h1>
          <form id="upload-form" action = "http://localhost:5000" method = "POST" enctype="multipart/form-data">
              <input type="file" name="file" accept="image/png, image/jpeg">
              <br><br>
              <input type="submit" value="Submit"/>
          </form>
          <br>
   
      </div>
  </body>
</html>